@use '../abstracts/' as *;

.product-grid {
    display: grid;
    max-width: 40rem;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    margin: 1em;

    border-radius: 0.75rem;
    box-shadow: 0 0 1rem $medium-gray;

    background-color: $white;

    .cta,
    .subscription,
    .about-us {
        padding: 2.5em;
    }

    .cta {
        grid-column: 1 / 3;

        h2 {
            color: $cyan;
        }

        h3 {
            color: $bright-yellow;
        }

        p {
            color: $medium-gray;
        }
    }

    .subscription {
        background-color: $cyan;
        opacity: .95;
        border-bottom-left-radius: 0.75rem;
        color: $white;

        .price {
            font-size: 1.8rem;
            padding-right: 0.3em;
        }

        .month {
            opacity: 0.5;
            padding-bottom: 1em;
        }

        .btn {
            width: 100%;
            padding: 0.85em;
            color: $white;
            background-color: $bright-yellow;
            border-radius: 0.4rem;
            margin-top: 2em;
        }
    }

    .about-us {
        background-color: $cyan;
        opacity: .75;
        border-bottom-right-radius: 0.75rem;
        color: $white;

        p {
            max-width: 21.83ch;
        }
    }
}