@media (min-width: 650px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .cta {
        grid-column: 1 / 3;
    }

    .subscription {
        border-bottom-left-radius: 0.75rem;
    }

}

@media (max-width: 651px) {
    .about-us {
        border-bottom-left-radius: 0.75rem;
    }
}